@using EntityLayer.Concrete
@model List<Heading>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Titles</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
                    <h3 style="color:#ffff;">TITLES</h3>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"> 
                        @foreach(var item in Model)
                        {
                        <li class="nav-item d-flex justify-content-center">
                            <a href="/Default/Headings/@item.HeadingID" class="nav-link">
                                <p>
                                    @item.HeadingName
                                </p>
                                <span> (@item.Contents.Count)</span>
                            </a>
                         </li>
                        }
                    </ul>
                 </nav>
                        <!-- /.sidebar-menu -->
             </div>
                    <!-- /.sidebar -->
        </aside>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    @Html.Action("Index","Default")
                    <!-- Main content -->
                    <div class="content">

                        <!-- /.container-fluid -->
                    </div>
                    <!-- /.content -->
                </div>
            </div>

            <script>
                const navLinks = document.querySelectorAll('.nav-link');
                const currentPath = window.location.pathname;

                if (currentPath) {
                    navLinks.forEach(link => {
                        if (link.getAttribute('href') === currentPath) {
                            link.classList.add('active');
                        }
                    });
                }
                navLinks.forEach(link => {
                    link.addEventListener('click', function () {

                        navLinks.forEach(l => l.classList.remove('active'))

                        this.classList.add('active');
                        window.location.href = this.getAttribute('href');
                    })
                })
            </script>
            <!-- ./wrapper -->
            <!-- REQUIRED SCRIPTS -->
            <!-- jQuery -->
            <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- AdminLTE -->
            <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>

            <!-- OPTIONAL SCRIPTS -->
            <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
            <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
            <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
        </body>
        </html>


