
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Status</th>
    </tr>
    <tr>

    </tr>
</table>

