@using MvcProjectCamp.Models
@model ContactMessageViewModel

@{int communicationCount = Model.Contacts.Count; }
@{int unreadMessageCount = 0;}
@foreach (var item in Model.Messages)
{
    if (item.IsRead == false)
    {
        unreadMessageCount++;
    }
}
<div class="col-md-3">
    <a href="/Message/NewMessage" class="btn btn-primary btn-block mb-3">New Message</a>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Options</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a href="/Contact/Index" class="nav-link">
                        <i class="fas fa-mail-bulk"></i> Communication
                        <span class="badge bg-primary float-right">@communicationCount</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="inboxDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-inbox"></i> Inbox
                    </a>
                    <div class="dropdown-menu" aria-labelledby="inboxDropdown">
                        <div class="d-flex">
                            <a class="dropdown-item" href="/Message/ReadMessages">Read Messages</a>
                        </div>
                        @if (unreadMessageCount > 0)
                        {
                            <hr />
                            <div class="d-flex">
                                <a class="dropdown-item" href="/Message/UnreadMessages">Unread Messages</a>

                                <span class="badge bg-primary float-right">@unreadMessageCount</span>

                            </div>
                        }
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/Message/Sendbox" class="nav-link">
                        <i class="far fa-envelope"></i> Sent
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-file-alt"></i> Drafts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-filter"></i> Spam
                        <span class="badge bg-warning float-right">65</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-trash-alt"></i> Trash
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Others</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle text-danger"></i>
                        Important
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle text-warning"></i> Promotions
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle text-primary"></i>
                        Social
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>